
#about{
        
        
   
   
    
   

}
.aboutanimation{
    animation:fadeInUp ;
    animation-duration: 2s;
}
.container-about{
    width: 80%;
    margin-left: 10%;
}
.about-head {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-bottom: 30px;
    margin-top: 80px;
    

}

.about-txt {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
  
    
    
    


}
.anim{
    animation: flip;
    animation-duration: 2s;
}
.about-head{
    color: blue;
}
@media screen and (max-width: 768px) {
    .about-txt{
        text-align: center;
    }
}
