#baneradd {
    margin-left: 10%;
    margin-top: 80px;
    display: flex;
    width: 80%;
}

#baneradd div {
    width: 50%;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
}

#baneradd button {
    margin-left: 10%;
    margin-top: 20px;
}

#baneradd h1 {
    margin-left: 10%;
    width: 90%;
    color: bisque;
    margin-top: 50px;
}

#baneradd p {
    margin-left: 10%;
    width: 90%;
    color: bisque;

}

#baneradd img {
    width: 50%;
    margin-top: 0px;
    height: 400px;
    border-radius: 10px 0px 0px 10px;

}

@media screen and (max-width:768px) {
    #baneradd {
        display: block;
    }

    #baneradd img {
        width: 80%;
        margin-left: 10%;
        height: 200px;
        border-radius: 10px 10px 0px 00px;

    }

    #baneradd div {
        width: 80%;
        margin-left: 10%;
        background-color: black;
        border-radius: 0px 0px 10px 10px;
    }

    #baneradd h1 {
        margin-top: 0;
        padding-top: 50px;
        text-align: center;
        width: 80%;
    }

    #baneradd p {

        text-align: center;
        width: 80%;
    }

    #baneradd button {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
}