
@media only screen and (max-width :1023px) {
    #contact {
        
       text-align: left;
        width: 100%;
    }
    
    .contact-head {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        padding-top: 20px;
        margin-left: 10%;
    
      
        
    
    }
    
    .contact-details {
        text-align: left;
        margin-bottom: 50px;
        font-size: 8pt;
        margin-left: 10%;
      
    }
    
    .contact-details a {
        text-decoration: none;
        color: black;
       
    }
    
    .contact-details a:hover {
        text-decoration: underline;
    }
    
    
    
    .feed-input {
        margin-left: 10%;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    
    .feed-input-lg {
        height: 200px;
        margin-top: 5px;
    }
    
    .feed-btn {
        padding: 10px;
        width: 30%;
        border-radius: 10px;
        border: 0;
        background-color: rgb(70, 123, 238);
        color: white;
        margin-left: 10%;
        margin-bottom: 100px;
    }
    
    .feed-txt {
        margin-left: 10%;
        margin-bottom: 0;
      
    }
    
    .feed-btn:hover {
        background-color: blue;
    }
    
    .div-feed-input {
        padding: 0;
    }
    .feed-head{
        margin-left: 10%;
        
    }
}



@media (min-width :1024px) {

    #contact {
        
       text-align: left;
        width: 100%;
    }
    
    .contact-head {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
        padding-top: 50px;
        margin-left: 10%;
        
    
    }
    
    .contact-details {
        text-align: left;
        margin-bottom: 50px;
        margin-left: 10%;
    }
    
    .contact-details a {
        text-decoration: none;
        color: black;
       
    }
    
    .contact-details a:hover {
        text-decoration: underline;
    }
    
    
    
    .feed-input {
        margin-left: 10%;
        width: 80%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    
    .feed-input-lg {
        height: 200px;
        margin-top: 5px;
    }
    
    .feed-btn {
        padding: 10px;
        width: 30%;
        border-radius: 10px;
        border: 0;
        background-color: rgb(70, 123, 238);
        color: white;
        margin-left: 10%;
        margin-bottom: 100px;
    }
    
    .feed-txt {
        margin-left: 10%;
        margin-bottom: 0;
 
    }
    
    .feed-btn:hover {
        background-color: blue;
    }
    
    .div-feed-input {
        padding: 0;
    }
    
    .map {
        width: 80%;
        margin-left: 10%;
    }
    
    .map-head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px;
        margin-left: 10%;
    }
}
@media (min-width :2560px) {

    #contact {
        
       text-align: left;
        width: 100%;
        height: 1685px;
    }
    
    .contact-head {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 130px;
        padding-top: 50px;
        margin-left: 5%;
      
        
    
    }
    
    .contact-details {
        text-align: left;
        margin-bottom: 50px;
        margin-left: 5%;
        font-size: 40px;
    }
    
    .contact-details a {
        text-decoration: none;
        color: black;
      
    }
    
    .contact-details a:hover {
        text-decoration: underline;
    }
    
    
    
    .feed-input {
        margin-left: 10%;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    
    .feed-input-lg {
        height: 400px;
        margin-top: 5px;
    }
    
    .feed-btn {
        padding: 60px;
        width: 30%;
        border-radius: 10px;
        border: 0;
        background-color: rgb(70, 123, 238);
        color: white;
        margin-left: 10%;
        margin-bottom: 100px;
    }
    
    .feed-txt {
        margin-left: 10%;
        margin-bottom: 0;
        font-size: 50px;
      
    }
    .feed-head{
        font-size: 50px;
        font-weight: 400;
     
    }
    
    .feed-btn:hover {
        background-color: blue;
    }
    
    .div-feed-input {
        padding: 0;
    }
    
    .map {
        width: 80%;
        margin-left: 10%;
    }
    
    .map-head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px;
        margin-left: 10%;
    }
}
.ani{
    animation:rollIn;
    animation-duration: 2s;

}
.contact-head{
    color: blue;
}
.feed-head{
    color: blue;
}
.feed-txt{
    color: blue;
}