.c2-paper{

 
}
.c2-paper .heading{
 
    
    color: blue;
}
.job-name{
    margin-top: 0;
    padding-top: 0px;
}
.job-no{
    padding-top: 50px;
}
.data{
    color: black;
}
.image{
    width: 80%;
    margin-left: 10%;
    height: 410px;
}
.sub{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}
.layout{
    padding-left: 10%;
    width: 80%;
}
.overline{
    text-decoration: overline;
}
.info{
    font-size: 18pt;
    margin: 0;
}
.row{
    display: flex;
}
.right-align{
    text-align: right;
}
h1 {
    margin: 0;
    margin-top: 50px;
    color: black;

}
.btn{
    width: 100%;
    margin-top: 10px;
}
.btn-danger{
    
}
#text .title{
    text-align: center;
    font-size: 20pt;
   
}
 .txt{
    font-size: 12pt;
    text-align: center;
    margin-top: 0px;
    display: none;
}
.txt-lg{
    font-size: 20pt;
    margin-bottom: 10px;
}
#control{
    margin-top: 150px;
   
}

#button{
    display: none;
}
@media only screen and (max-width:767px) {
    .btn{
        width: 80%;
        margin-left: 10%;
    }
}




@media print {
    #control {
        display: none;
    }

    

    #paper {
        display: block;
        width: 8.5in;
        height: 11in;

    }
}
.tani{
    animation:flipInX;
    animation-duration: 3s;
}
#bar{
    width: 50%;
    margin-left: 25%;
    border: 1px solid blue;
    height: 32px;
    background-color: blue;
}
#in-bar{
    background-color: white;
    width: 100%;
    height: 28px;
}
.go{

    animation:fadeOutRight;
    animation-duration: 10s;
}
