#landing {
    height: 500px;
}

#landing h1 {
    margin-left: 38%;
}

#landing p {
    margin-left: 38%;
    font-size: 14pt;
}

#landing button {
    margin-left: 38%;
    

}


.land-ani {
    animation: jackInTheBox;
    animation-duration: 2s;
}

.side-img {
    width: 62%;
    margin-right: 38%;
}
.container{
    display:flex;
    margin-Left:10%;
    margin-Top:120px;
}
.left{
    width: 40%;
}
.right{
    width: 40%;
}

@media (max-width:1023px) {
   
    .side-img {
        display: none;
    }
    .right{
        width: 0px;
        padding: 0;
    }

    #landing h1 {
        margin-left: 0%;
        text-align: center;
    }

    #landing p {
        margin-left: 0%;
        text-align: center;
    }

    #landing button {
        margin-left: 25%;
        width: 50%;
    }
    .container{
        width: 80%;
    }
    .left{
        width: 100%;
        padding: 0;
    }
}