#landing {
   margin-bottom: 80px;
}

#landing h1 {
   text-align: center;
    
}

#landing p {
   text-align: center;
    font-size: 14pt;
}

#landing button {
     width: 30%;
     margin-left: 35%;

}
.landheadanimation{
    animation:backInDown ;
    animation-duration: 1s;
}




.container{
    
    margin-Left:10%;
    margin-Top:120px;
    width: 80%;
}


@media (max-width:1023px) {
   
   
    #landing h1 {
        margin-left: 0%;
        text-align: center;
    }

    #landing p {
        margin-left: 0%;
        text-align: center;
    }

    #landing button {
        margin-left: 25%;
        width: 50%;
    }
    .container{
        width: 80%;
    }
    .left{
        width: 100%;
        padding: 0;
    }
}