.contain{
    width: 80%;
    margin-left: 10%;
    display: flex;

}
.box{
    width: 30% ;
    margin-right: 5%;
    background-color: rgb(225, 225, 252);
    border-radius: 10px;
    height: 400px;
}
.box:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.boximg{
    width: 100%;
    height: 200px;
   margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
   
}
.boxtxt{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

@media screen and (max-width:768px) {
    .box{
        width: 80% ;
        margin-left: 10%;
        
        height: 370px;
        margin-bottom: 50px;
    }
   
    .contain{
        display: block;
        margin-left: 10%;
    }
}
@media screen and (min-width:768px){
    .animation{
        animation: lightSpeedInRight;
        animation-duration: 2s;
    }
}