

@media only screen and (max-width: 768px) {
  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
  }
  
  .scroll-to-top div {
    background-color: #1d50f7;
    color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .scroll-to-top div:hover {
    background-color: #333;
  }
  .scroll-to-top {
    bottom: 30px;
    right: 30px;
  }
  
  .scroll-to-top div {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  .scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
  }
  
  .scroll-to-top div {
    background-color: #1d50f7;
    color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .scroll-to-top div:hover {
    background-color: #333;
  }
}