
.animation{
    animation: lightSpeedInLeft;
    animation-duration: 2s;
}
@media only screen and (max-width :1023px) {
    #baner {
        width: 100%;
        background-image: url("isometric-landing-page-design-background-template-1612199755792-cover.webp");
        background-repeat: no-repeat;
        background-size: cover;
        height: 562px;
    }
    #total{
        
    }
    .baner-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 25px;
        margin-left: 10%;
        width: 80%;
        margin-top: 170px;
        color: white;
        font-weight: bolder;
        text-align: center;
        
       
        
        
    }
    
    .baner-btn {
        margin-left: 30%;
        width: 40%;
        height: 40px;
        border-radius: 10px;
        background-color: #007bff;
        border-color: white;
        color: white;
        border-style: solid;

    }
}
@media only screen and (min-width :768px) {
    .baner-btn{
        margin-left: 10%;
        width: 20%;
    }
    .baner-txt{
        text-align: left;
    }
    #baner{
        height: 430px;
    }
}
@media (min-width :1024px) {
    #baner {
        height: 550px;
        background-image: url("isometric-landing-page-design-background-template-1612199755792-cover.webp");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
   

    .baner-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
        margin-left: 10%;
        width: 60%;
        margin-top: 150px;
        color: white;
        font-weight: bolder;
        margin-top: 180px;
        
        
    }

    .baner-btn {
        margin-left: 10%;
        width: 40%;
        height: 50px;
        border-radius: 10px;
        background-color: #007bff;
        border-color: white;
        color: white;
        border-style: solid;

    }

    .baner-btn:hover {
        background-color: black;
        color: white;

    }
}
@media (min-width :1338px) {
    #baner {
        height: 550px;
        background-image: url("isometric-landing-page-design-background-template-1612199755792-cover.webp");
        background-repeat: no-repeat;
        background-size: cover;
        height: 730px;
    }
   

    .baner-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
        margin-left: 10%;
        width: 60%;
        margin-top: 150px;
        color: white;
        font-weight: bolder;
        margin-top: 180px;
        
        
    }

    .baner-btn {
        margin-left: 10%;
        width: 40%;
        height: 50px;
        border-radius: 10px;
        background-color: #007bff;
        border-color: white;
        color: white;
        border-style: solid;

    }

    .baner-btn:hover {
        background-color: black;
        color: white;

    }
}
@media (min-width :1440px) {
    #baner {
        height: 550px;
        background-image: url("isometric-landing-page-design-background-template-1612199755792-cover.webp");
        background-repeat: no-repeat;
        background-size: cover;
        height: 810px;
    }
   

    .baner-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 45px;
        margin-left: 10%;
        width: 60%;
        margin-top: 150px;
        color: white;
        font-weight: bolder;
        margin-top: 180px;
        
        
    }

    .baner-btn {
        margin-left: 10%;
        width: 40%;
        height: 50px;
        border-radius: 10px;
        background-color: #007bff;
        border-color: white;
        color: white;
        border-style: solid;

    }

    .baner-btn:hover {
        background-color: black;
        color: white;

    }
}
@media (min-width :2560px) {
    #baner {
        height: 550px;
        background-image: url("isometric-landing-page-design-background-template-1612199755792-cover.webp");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1430px;
    }
   

    .baner-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100px;
        margin-left: 10%;
        width: 60%;
        margin-top: 150px;
        color: white;
        font-weight: bolder;
        margin-top: 180px;
        
        
    }

    .baner-btn {
        margin-left: 10%;
        width: 40%;
        height: 100px;
        border-radius: 10px;
        background-color: #007bff;
        border-color: white;
        color: white;
        border-style: solid;

    }

    .baner-btn:hover {
        background-color: black;
        color: white;

    }
}