






.ani{
    animation:rollIn;
    animation-duration: 2s;

}
#contact {
        
    text-align: left;
     width: 100%;
 }
 .container{
     width: 80%;
     margin-left: 10%;
 }
 
 .contact-head {
     text-align: left;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
     padding-top: 50px;
   
     
 
 }
 
 .contact-details {
     text-align: left;
     margin-bottom: 50px;
    
 }
 
 .contact-details a {
     text-decoration: none;
     color: black;
    
 }
 
 .contact-details a:hover {
     text-decoration: underline;
 }
 
 
 
 .feed-input {
     
     padding-top: 10px;
     padding-bottom: 10px;
     margin-bottom: 20px;
     border: 1px solid lightgray;
     border-radius: 5px;
     width: 100%;
 }
 
 .feed-input-lg {
     height: 200px;
     margin-top: 5px;
     width: 100%;
 }
 
 .feed-btn {
     padding: 10px;
     width: 30%;
     border-radius: 10px;
     border: 0;
     background-color: rgb(70, 123, 238);
     color: white;
    
     margin-bottom: 100px;
 }
 
 .feed-txt {
    
     margin-bottom: 0;

 }
 
 .feed-btn:hover {
     background-color: blue;
 }
 
 .div-feed-input {
     padding: 0;
 }
 
.contact-head{
    color: blue;
}
.feed-head{
    color: blue;
    margin-left: 0;
    margin-bottom: 20px;
}
.feed-txt{
    color: blue;
}