.paper {
    width: 100%;
    margin-left: 0;
    display: none;
}

.head .job-report {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
    color: blue;
    text-decoration: underline;
    margin: 0;


}

.head .sub-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
    margin: 0;
    text-align: center;
    margin-top: 30px;

}

.data p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18pt;
}

h1 {
    color: blue;
    margin: 0;
    margin-top: 80px;

}