@media (min-width :992px) {
    
    #credit{
        background-image: url("istockphoto-1079132980-612x612.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
        margin-bottom: 0;
        
    }
    .credit-head {
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-bottom: 0px;
        margin-left: 10%;
        margin-top: 100px;
    }

    .credit-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-left: 10%;



    }
    .credit-txt-s {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-left: 10%;
        font-size: 30px;



    }

    #credit a {
        text-decoration: none;
        color: black;
    }

    #credit a:hover {
        text-decoration: underline;
    }

    
}
@media only screen and (max-width :320px) {
    #credit{
        background-image: url("istockphoto-1079132980-612x612.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 210px;
        margin-bottom: 0;
        
    }
    .credit-head {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-bottom: 0px;
        margin-left: 5%;
        margin-top: 10px;
    }
    .credit-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-left: 5%;
        margin-bottom: 0;
        font-size: 6pt;
        width: 40%;


    }
    .credit-txt-s {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-left: 5%;
        font-size: 10px;
        margin-bottom: 0;



    }

    #credit a {
        text-decoration: none;
        color: black;
    }

    #credit a:hover {
        text-decoration: underline;
    }
}