#paper {
display: none;
}

.head .job-report {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40pt;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    color: blue;
    text-decoration: underline;
    margin: 0;


}

.head .sub-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
    margin: 0;
    text-align: center;


}

.data p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

#c-job-name {
    margin-top: 55px;
    font-size: 16pt;
    margin-left: 10px;
}

span {
    font-size: 16pt;
    margin-top: 25px;
    margin-left: 10px;
    
}


h1 {
    margin: 0;
    margin-top: 50px;
    color: blue;

}

@media print {
    button {
        display: none;
    }

    #paper {
        width: 100%;
    }

    #paper {
        display: block;
        width: 7.27in;
        height: 10.69in;

    }
}