@media (min-width :992px) {
    .footer-left {

        background-color: rgb(41, 41, 43);
        height: 450px;
    }
    
    .footer-right {
    
        background-color: rgb(41, 41, 43);
        height: 450px;
    }
    
    .footer-element-right {
        width: 80%;
        margin-left: 10%;
    }
    
    .footer-element-right .contact-head {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
      
        color: white;
    
    }
    
    .footer-element-right .contact-details {
        text-align: left;
    
    
    }
    
    .footer-element-right .contact-details a {
        color: white;
        text-decoration: none;
    }
    
    .footer-element-right .contact-details a:hover {
        text-decoration: underline;
    }
    
    .footer-element-right .credit-head {
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
    
    
    }
    
    .footer-element-right .credit-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: white;
    
    
    
    }
    
    .footer-element-right a {
        text-decoration: none;
        color: white;
    }
    
    .footer-element-right a:hover {
        text-decoration: underline;
    }
    
    .link-head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 50px;
        margin-top: 50px;
        color: white;
    
    }
    
    .footer-element-left {
        margin-left: 10%;
        width: 80%;
    }
    
    .footer-element-left a {
        color: white;
        text-decoration: none;
    }
    
    .footer-element-left a:hover {
        text-decoration: underline;
    }
}
@media only screen and (max-width :320px) {
    .footer-left {

        background-color: rgb(41, 41, 43);
        height: 245px;
    }
    
    .footer-right {
    
        background-color: rgb(41, 41, 43);
        font-size: 8pt;
        height: 155px;
    }
    
    .footer-element-right {
        width: 80%;
        margin-left: 10%;
    }
    .footer-element-right .contact-head {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
      
        color: white;
    
    }
    
    .footer-element-right .contact-details {
        text-align: left;
    
    
    }
    
    .footer-element-right .contact-details a {
        color: white;
        text-decoration: none;
    }
    
    .footer-element-right .contact-details a:hover {
        text-decoration: underline;
    }
    
    .footer-element-right .credit-head {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
    
    
    }
    
    .footer-element-right .credit-txt {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        color: white;
    
    
    
    }
    
    .footer-element-right a {
        text-decoration: none;
        color: white;
    }
    
    .footer-element-right a:hover {
        text-decoration: underline;
    }
    
    .link-head {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        margin-top: 20px;
        color: white;
    
    }
    
    .footer-element-left {
        margin-left: 10%;
        width: 80%;
        font-size: 8pt;
    }
    
    .footer-element-left a {
        color: white;
        text-decoration: none;
    }
    
    .footer-element-left a:hover {
        text-decoration: underline;
    }
}

