#privacy{
   margin-bottom: 80px;
    
}
.container-privacy{
    width: 80%;
    margin-left: 10%;
}
.privacy-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
   
    margin-bottom: 30px;
    padding-top: 20px;
    margin-left: 10%;
    width: 80%;
}   
.privacy-txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
   
    text-align: left;
  
    
}
.privacy-txt a{
    color: blue;
}
.privacy-animation{
    animation:flipInY;
    animation-duration: 2s;
}
.privacy-head{
    color: blue;
}

@media screen and (max-width: 768px) {
    .privacy-txt{
        text-align: center;
    }
}