#templete h1 {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 50px;
}

#templete .boximg {
    height: 315px;
    filter: brightness(90%);
}

@media screen and (max-width: 768px) {
    #templete .box {
        height: 420px;
    }
}