.cd-grp{
    width: 80%;
    margin-left: 10%;
    display: flex;
}
.cd{
    width: 20%;
    height: 400px;
    margin-right: 20%;
    
}

.cd-3{
    margin-right: 0;
}
.cd img{
    width: 100%;
    height: 200px;
    border-radius: 100%;
}
.cd h1{
    margin: 0;
    color: black;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-size: 20px;
}
.cd p{
    width: 100%;
    text-align: center;
}
.heading{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 100px;
   
}
#team{
    margin-bottom: 100px;
}
.headanimation{
    animation:rotateOut;
    animation-duration: 1s;
}
.imageanimation{
    animation: hinge;
    animation-duration: 2s;
}
@media screen and (max-width: 720px) {
    .cd-grp{
        width: 80%;
        margin-left: 10%;
        display: block;
    }
    .cd{
        width: 100%;
        height: 350px;
        margin-right: 0%;
        
    }
  }